.d-block{
    height: 50vh;
    display:inline-block;
}
img
{
    border-radius: 5px;
}

.hobbyLinks {
    -webkit-transition: color 2s;
    transition: color 2s;
    color: #a37b73ff !important;
  }
  
  