@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$primary: #dbbea1ff;
$secondary: #a37b73ff;
$dark: #050505;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'dark':$dark,
);
$custom-colors: (
  'third': #3e282bff,
  'fourth': #d34f73ff,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$enable-negative-margins: true;

@import '../node_modules/bootstrap/scss/bootstrap';
